name: Deploy web100Acress-100acressFront
on: 
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Login to docker hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}     
      - name: Build Docker Image
        run: docker build -t hunderedacress/100acressbackend  .
      - name: Publish Image to docker hub
        run: docker push hunderedacress/100acressbackend:latest 
 
 
  deploy:
    needs: build
    runs-on: self-hosted 
    steps:
      - name: Pull image from docker hub
        run: docker pull hunderedacress/100acressbackend:latest
      - name: Delete old container
        run: |
              if [ "$(docker ps -aq -f name=hundredacress-backend-container)" ]; then
                docker rm -f hundredacress-backend-container
              fi
      - name: Run Docker Container
        run: docker run -d -p 3500:3500 --name hundredacress-backend-container -e MONGO_PASSWORD='${{ secrets.MONGO_PASSWORD }}' hunderedacress/100acressbackend